<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/nyt.png" width="150" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="science">Science</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="arts">Arts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="politics">Politics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="business">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="technology">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="sports">Sports</a>
          </li>
        </ul>
        <div class="d-flex">
        <input class="form-control me-2" [(ngModel)]="key" type="text" placeholder="Search (Ex. election)" aria-label="Search">
        <button class="btn btn-outline-success" (click) = "fetchNews()" >Search</button>
        </div>
        
      </div>
    </div>
  </nav>